@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900");
/* Requires CodeKit, Grunt, or some other sort of local Sass compiler */
/* WordPress blog styles */
/* Variables */
/* 50 shades of grey */
/* Base */
*, *:before, *:after {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  padding: 0;
  margin: 0; }

body {
  padding: 0;
  margin: 0;
  line-height: 1.3;
  font-size: 18px;
  color: #2a2a2a;
  background-color: #fff; }

.layout-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 67.5em; }
  .layout-width:after {
    content: "";
    display: table;
    clear: both; }

img, iframe {
  max-width: 100%; }

/* Grid */
.col {
  float: left;
  padding-left: 0.9375em;
  padding-right: 0.9375em; }

.main-content {
  width: 75%; }

.sidebar {
  width: 25%;
  border-left: 1px solid #c7c7c7;
  border-right: 1px solid #c7c7c7; }

@media screen and (max-width: 48.75em) {
  /* 780px */
  .main-content {
    width: 100%; }

  .sidebar {
    width: 100%; } }
/* Typography */
p {
  margin: 0 0 1.3em 0; }
  p.no-spacing {
    margin-bottom: 0; }

.bold {
  font-weight: bold; }

.headline {
  font-family: "Playfair Display", georgia, serif;
  font-size: 58px;
  font-size: 3.625rem;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: .6em; }

h1, .post-entry-title {
  font-family: "Playfair Display", georgia, serif;
  font-size: 38px;
  font-size: 2.375rem;
  margin: 0 0 .65em 0;
  font-weight: 400;
  line-height: 1.1; }

h2 {
  font-family: "Playfair Display", georgia, serif;
  font-size: 28px;
  font-size: 1.750rem;
  margin: 0 0 .7em 0;
  line-height: 1.1; }

h3 {
  font-size: 26px;
  margin: 0 0 1em 0;
  font-weight: 500;
  line-height: 1.0; }

h4 {
  font-size: 17px;
  font-size: 1.063em;
  margin: 0 0 .5em 0;
  font-weight: 500; }

.post-entry-title {
  margin-bottom: .2em;
  font-weight: bold; }
  .post-entry-title a {
    text-decoration: none; }
    .post-entry-title a:hover {
      text-decoration: underline; }

@media screen and (max-width: 35.313em) {
  /* 565px */
  h1, .post-entry-title {
    font-size: 32px;
    font-size: 2rem; }

  .headline {
    font-size: 41px;
    font-size: 2.563rem; }

  .post-entry-title {
    font-size: 32px;
    font-size: 2rem; } }
.post-meta {
  font-family: "proxima-nova", arial, helvetica neue, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  color: #5f5f5f;
  margin-bottom: 1.8em; }
  .post-meta a {
    color: #5f5f5f; }
    .post-meta a:hover {
      color: #2a2a2a; }

.written-by {
  font-size: 14px;
  font-weight: normal;
  display: block; }

.bio-container:after {
  content: "";
  display: table;
  clear: both; }

.bio-author {
  width: 75%;
  float: left; }

.bio-pic {
  float: right;
  width: 25%; }
  .bio-pic img {
    background: #fff;
    padding: 3px;
    border: 1px rgba(0, 0, 0, 0.1) solid; }

/* Links and buttons */
a {
  color: #2a2a2a; }
  a:hover {
    color: #5f5f5f; }

/* Blog header */
.blog-header {
  background-color: #2a2a2a;
  color: #fff;
  height: 78px;
  padding-top: 20px;
  margin-bottom: 2.25em; }
  .blog-header a {
    color: #fff; }

.blog-header-inner {
  padding-left: 0.9375em;
  padding-right: 0.9375em; }

.blog-logo {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-right: 1.3em; }
  .blog-logo img {
    vertical-align: middle;
    width: 19px; }

.blog-title {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle; }
  .blog-title h2 {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 20px;
    font-family: "effra", arial; }
  .blog-title:hover {
    opacity: .7; }

.blog-nav {
  display: inline-block;
  list-style: none;
  padding: 0;
  font-weight: 500;
  margin: 0; }
  .blog-nav li {
    display: inline-block;
    margin-right: 1.6em;
    vertical-align: middle; }
  .blog-nav a {
    color: #fff;
    font-size: 0.8125em;
    font-family: "proxima-nova", arial, helvetica neue, sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase; }

@media screen and (max-width: 61.563em) {
  .blog-logo {
    margin-right: 2.7em; }
    .blog-logo img {
      width: 107px; }
    .blog-logo:after {
      top: -2px;
      right: -1.5em; }

  .blog-nav {
    font-size: 14px; }
    .blog-nav li {
      margin-right: 1.3em; } }
.back-to-website {
  font-size: 14px;
  display: inline-block;
  margin-top: 7px;
  float: right;
  text-decoration: none;
  font-weight: 500; }
  .back-to-website:hover {
    opacity: .7; }

@media screen and (max-width: 35.313em) {
  /* 565px */
  .blog-header {
    height: auto;
    padding-bottom: 20px; }

  .blog-nav {
    width: 100%;
    text-align: center; }
    .blog-nav li {
      font-size: 13px;
      margin-right: 1em; }
      .blog-nav li:last-of-type {
        margin-right: 0; }

  .blog-logo {
    margin-right: 0;
    display: block;
    text-align: center;
    margin-bottom: 10px; }
    .blog-logo:after {
      display: none; }

  .blog-title {
    margin-top: 18px;
    display: block; }
    .blog-title h2 {
      display: block;
      text-align: center; }

  .back-to-website {
    margin-top: 10px;
    display: block;
    text-align: center;
    float: none; } }
/* Blog comments */
#disqus_thread {
  margin-top: 2em;
  border-top: 1px #f0f0f0 solid;
  padding-top: 2em; }

/* Blog posts */
.post-list-entry {
  padding-bottom: .7em;
  margin-bottom: 2em;
  border-bottom: 1px #f0f0f0 solid; }
  .post-list-entry:last-of-type {
    border-bottom: 0;
    margin-bottom: 0; }

/* Blog sidebar */
.sidebar .share-links a {
  margin-right: 7px; }
.sidebar .desc {
  line-height: 1.0; }
.sidebar hr {
  margin: 25px 0; }
.sidebar select {
  width: 100%; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .sidebar {
    /*safari and chrome*/ }
    .sidebar select {
      height: 35px;
      line-height: 35px;
      background: #fafafa; } }
.sidebar select::-moz-focus-inner {
  /*Remove button padding in FF*/
  border: 0;
  padding: 0; }
@-moz-document url-prefix() {
  .sidebar {
    /* targets Firefox only */ }
    .sidebar select {
      padding: 15px 0 !important; } }
.course-listing {
  list-style-type: none;
  padding: 0; }
  .course-listing li {
    margin-bottom: 10px; }
    .course-listing li a {
      text-decoration: none; }
  .course-listing .course-image {
    height: 145px; }
    .course-listing .course-image img {
      height: 145px; }
  .course-listing .course-description {
    background-color: #EFEFEF;
    padding: 15px; }
    .course-listing .course-description .description {
      font-size: 16px;
      color: #5E5E5E; }
    .course-listing .course-description h3 {
      margin-bottom: 2px; }

.blog-search {
  margin-bottom: 2em; }

.search-blog-input {
  margin-right: 10px;
  padding: .5em .7em;
  font-family: "effra",arial,helvetica neue,sans-serif;
  font-size: 16px;
  border: 1px rgba(0, 0, 0, 0.2) solid;
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0px 1px 0 0 rgba(255, 255, 255, 0.7);
  display: inline-block;
  width: 70%;
  vertical-align: middle; }
  .search-blog-input:focus {
    outline: 0; }

.blog-search-btn {
  border: none;
  height: 37px;
  display: inline-block;
  width: 25%;
  text-align: center;
  vertical-align: middle;
  font-size: 11px; }

/* Blog footer */
.blog-footer-wrap {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-top: 2.25em; }

.blog-footer {
  padding-left: 0.9375em;
  padding-right: 0.9375em; }

.copyright-footer {
  font-size: 14px;
  color: #5f5f5f;
  margin-bottom: 0.875em; }

.footer-sitemap {
  font-size: 14px;
  list-style: none;
  padding: 0;
  margin: 0; }
  .footer-sitemap li {
    display: inline;
    padding-right: 0.5em;
    margin-right: 0.5em; }
    .footer-sitemap li:last-child {
      border-right: 0; }
  .footer-sitemap a {
    text-decoration: underline;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.6875em;
    text-transform: uppercase; }

/* Buttons
  font-family: $nav-font-stack
  display: inline-block
  padding: .55em .8em .55em
  font-weight: bold
  text-align: center
  text-decoration: none
  text-transform: uppercase
  background-color: $button-grey
  //-webkit-box-shadow: 0 2px 0 0 darken($button-grey, 10%)
  //box-shadow: 0 2px 0 0 darken($button-grey, 10%)
  color: $dark-grey
  outline: 0
  position: relative

  font-size: 14px
  background: $button-grey
  border: 6px solid
  border-top: none
  border-left: none
  border-right: none
  border-bottom-color:  darken($button-grey, 10%)
  box-shadow: none
*/
.butt, .button {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 6px solid #e3e3e3;
  font-family: "proxima-nova", arial, helvetica neue, sans-serif;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  background-color: #e3e3e3;
  -webkit-box-shadow: 0 2px 0 0 #cacaca;
  box-shadow: 0 2px 0 0 #cacaca;
  color: #2a2a2a;
  outline: 0;
  position: relative; }
  .butt:hover, .button:hover {
    background-color: #e8e8e8;
    color: #2a2a2a; }
  .butt:active, .button:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    transform: translate(0, 2px);
    -ms-transform: translate(0, 2px);
    /* IE 9 */
    -webkit-transform: translate(0, 2px);
    /* Safari and Chrome */ }
    .butt:active:after, .button:active:after {
      top: -2px; }
  .butt:after, .button:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .butt.full-width, .button.full-width {
    width: 100%; }
  .butt.big, .button.big {
    font-size: emCalc(19px);
    padding: 0.75em 1.05em 0.75em;
    -webkit-box-shadow: 0 3px 0 0 #cacaca;
    box-shadow: 0 3px 0 0 #cacaca; }
    .butt.big:active, .button.big:active {
      -webkit-box-shadow: none;
      box-shadow: none;
      transform: translate(0, 3px);
      -ms-transform: translate(0, 3px);
      /* IE 9 */
      -webkit-transform: translate(0, 3px);
      /* Safari and Chrome */ }
      .butt.big:active:after, .button.big:active:after {
        top: -3px; }
    .butt.big.less-padding, .button.big.less-padding {
      padding: 0.4em 0.8em; }
  .butt.small, .button.small {
    font-size: emCalc(15px);
    padding-bottom: 0.45em; }
  .butt.mini, .button.mini {
    font-size: emCalc(14px);
    padding: 12px; }
  .butt.black, .button.black {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background-color: black;
    color: white; }
    .butt.black:hover, .button.black:hover {
      background-color: #e3e3e3;
      background-color: #e3e3e3;
      color: black; }
  .butt.cta, .button.cta {
    border-bottom-color: #d83449;
    background-color: #F7394A;
    color: white;
    -webkit-box-shadow: 0 2px 0 0 #f51226;
    box-shadow: 0 2px 0 0 #f51226; }
    .butt.cta:hover, .button.cta:hover {
      background-color: #f74353;
      color: white; }
    .butt.cta:active, .button.cta:active {
      -webkit-box-shadow: none;
      box-shadow: none; }
    .butt.cta.big, .button.cta.big {
      -webkit-box-shadow: 0 3px 0 0 #f51226;
      box-shadow: 0 3px 0 0 #f51226; }
      .butt.cta.big:active, .button.cta.big:active {
        -webkit-box-shadow: none;
        box-shadow: none;
        transform: translate(0, 3px);
        -ms-transform: translate(0, 3px);
        /* IE 9 */
        -webkit-transform: translate(0, 3px);
        /* Safari and Chrome */ }
        .butt.cta.big:active:after, .button.cta.big:active:after {
          top: -3px; }
  .butt.disabled, .button.disabled {
    background-color: white;
    -webkit-box-shadow: inset 0 0 1px 0 #c7c7c7;
    box-shadow: inset 0 0 1px 0 #c7c7c7;
    cursor: default;
    color: #c7c7c7; }
    .butt.disabled:hover, .button.disabled:hover {
      background-color: white;
      color: #c7c7c7; }
    .butt.disabled:active, .button.disabled:active {
      -webkit-box-shadow: inset 0 0 1px 0 #c7c7c7;
      box-shadow: inset 0 0 1px 0 #c7c7c7;
      transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      /* IE 9 */
      -webkit-transform: translate(0, 0);
      /* Safari and Chrome */ }
  .butt.red, .button.red {
    background-color: #b93e34;
    -webkit-box-shadow: 0 2px 0 0 #913129;
    box-shadow: 0 2px 0 0 #913129;
    color: white; }
    .butt.red:hover, .button.red:hover {
      background-color: #c14136; }
    .butt.red:active, .button.red:active {
      -webkit-box-shadow: none;
      box-shadow: none; }
  .butt.fb, .button.fb {
    background-color: #3e5d9e;
    color: white;
    -webkit-box-shadow: 0 2px 0 0 #334c81;
    box-shadow: 0 2px 0 0 #334c81; }
    .butt.fb:hover, .button.fb:hover {
      background-color: #4568b0; }
    .butt.fb:active, .button.fb:active {
      -webkit-box-shadow: none;
      box-shadow: none; }
    .butt.fb .icon-inside, .button.fb .icon-inside {
      float: left;
      margin-top: 3px; }
  .butt.twitter, .button.twitter {
    background-color: #00b1e2;
    color: white;
    -webkit-box-shadow: 0 2px 0 0 #009dc9;
    box-shadow: 0 2px 0 0 #009dc9; }
    .butt.twitter:hover, .button.twitter:hover {
      background-color: #00c5fb; }
    .butt.twitter:active, .button.twitter:active {
      -webkit-box-shadow: none;
      box-shadow: none; }
    .butt.twitter .icon-inside, .button.twitter .icon-inside {
      float: left;
      margin-top: 3px; }

/* Blog base styles */
.post-content img {
  margin-bottom: 1.3em; }
  .post-content img.alignnone {
    margin-bottom: .4em;
    margin-top: .4em; }

/* == WordPress WYSIWYG Editor Styles == */
.entry-content img {
  margin: 0 0 1.5em 0; }

.alignleft, img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left; }

.alignright, img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right; }

.aligncenter, img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both; }

.alignnone, img.alignnone {
  /* not sure about this one */ }

.wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  padding-top: 5px; }

.wp-caption img {
  border: 0 none;
  padding: 0;
  margin: 0; }

.wp-caption p.wp-caption-text {
  line-height: 1.5;
  font-size: 10px;
  margin: 0; }

.wp-smiley {
  margin: 0 !important;
  max-height: 1em; }

blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left; }

blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right; }

body a.linksalpha_button {
  display: none !important; }

.wp_rp_content {
  margin-top: 2em; }

.blog-sep-border {
  background-color: #dcdcdc;
  width: 1px;
  height: 14px;
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
  vertical-align: middle; }
